  h2 {
    text-align: left;
    margin-bottom: 10px;
  }
  
  h4 {
    text-align: left;
    margin-bottom: 40px;
  }
  
  .btn-primary {
    margin-bottom: 40px;
  }

  .container {
    margin-top: 20px;
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
  
  .btnAdd {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .side-bar {
    display: flex;
  }

  .thumbnail-cell {
    width: 100px;
    height: 100px;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .btn-bronze {
    background-color: #CD7F32;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .btn-silver {
    background-color: #C0C0C0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .btn-gold {
    background-color: #ffd700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .btn-platinum {
    background-color: #dcdbdb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .btn-diamond {
    background-color: #8eddef;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
