/* Header.css */

.header {
    background-color: #292A30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
  }
  
  .logo {
    /* Agrega la dirección de la imagen de tu logo */
    background-image: url('img/logoRanking.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: 40px; /* Ajusta la altura según sea necesario */
  }
  
  .app-name {
    font-size: 18px;
    margin-left: 0; /* Ajusta el tamaño de fuente según sea necesario */
  }
  
  .edit-button,
  .logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  /* Estilos adicionales según tus necesidades */
  